.is-valid {
    border-color: green;
}

.is-invalid {
    border-color: red;
}

#submit_button.disable {
    background: rgb(105, 105, 105);
    cursor: not-allowed;
}

.contact-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact-info-wrapper {
    width: 800px;
    max-width: 90%;
}

@media (min-width: 550px) {
    .contact-form-container {
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0 20%;
        width: 60%;
    }
}

@media (min-width: 375px) and (max-width: 549px) {
    .contact-form-container {
        margin: 0 10%;
        width: 80%;
    }
}

@media (max-width: 374px) {
    .contact-form-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .show-map-link {
        margin-top: 40px;
    }
}