#about h1,
#services h1,
#testimonials h1 {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
}

.ft-cards .card a,
.ft-cards .card a span {
    transition: 0.3s all;
}

/* Jumbotron */

#jumbotron {
    background-image: url(../images/jumbotron.jpg);
    background-position: center center;
    background-size: cover;
}

#jumbotron > .container {
    padding-top: 200px;
    padding-bottom: 240px;
}

#jumbotron h2 {
    margin-top: 0;
}

@media (max-width: 1199px) and (min-width: 601px) {
    #jumbotron > .container > .row {
        padding-right: 50%;
    }
}

@media (max-width: 992px) and (min-width: 600px) {
	.jumbotron-paragraph {
        font-size: 24px;
		width: 50%;
	}
}

@media (max-width: 600px) {
    #jumbotron {
        background-image: url(../images/jumbotron-mobile.jpg);
        height: calc(100vh - 75px);
    }
    
    #jumbotron > .container {
        padding-top: 25%;
        padding-bottom: 0;
    }
    
    #jumbotron h2, #jumbotron p {
        text-align: center;
    }
    
	#jumbotron .btn {
		display: block !important;
		margin: 0 auto;
	}
}

@media (min-width: 351px) {
    #jumbotron h2 {
        font-size: 48px;
    }
    
    #jumbotron p {
        font-size: 24px;
    }
}

@media (max-width: 350px) {
    #jumbotron h2 {
        font-size: 36px;
    }
    
    #jumbotron p {
        font-size: 20px;
    }
}

/* About */

#about h2 {
    text-align: center;
    font-size: 30px;
}

#about .row:nth-child(2) > .col:nth-child(2) > .row > .col:nth-child(1) p {
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
}

#day-of-week {
    float: left;
}

#day-of-week p {
    text-align: left;
}

#time-hours {
    float: right;
}

#time-hours p {
    text-align: right;
}

#about-hours, #about h3 {
    color: white;
}

@media (min-width: 1200px) {
    #about > .container > .row:nth-child(2) > .col:nth-child(1) {
        width: 30%;
        margin-right: 5%;
        float: left;
    }

    #about > .container > .row:nth-child(2) > .col:nth-child(2) {
        width: 65%;
        float: right;
    }
    
    #about > .container > .row:nth-child(2) > .col:nth-child(2) > .row > .col:nth-child(1) {
        width: 46.299%;
        margin-right: 7.402%;
        float: left;
    }
    
    #about > .container > .row:nth-child(2) > .col:nth-child(2) > .row > .col:nth-child(2) {
        width: 46.299%;
        float: right;
    }
    
    #about-hours > div:nth-child(1) {
        margin: 5px 50px !important;
    }
    
    #about-hours > div:nth-child(2) {
        margin: 5px 50px 15px 50px !important;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    #about > .container > .row:nth-child(2) > .col:nth-child(1) {
        width: 45%;
        margin-right: 10%;
        float: left;
    }
    
    #about > .container > .row:nth-child(2) > .col:nth-child(2) {
        width: 45%;
        float: right;
    }
    
    #about > .container > .row:nth-child(2) > .col:nth-child(2) > .row > .col:nth-child(1) {
        margin-bottom: 30px;
    }
    
    #about-hours .row {
        margin: 0 20px;
    }
}

/* About: Image */

@media (min-width: 800px) {
    #about img {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    #about img {
        width: 50%;
        margin: 0 25%;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    #about img {
        width: 75%;
        margin: 0 12.5%;
    }
}

@media (max-width: 399px) {
    #about img {
        width: 100%;
    }
}

/* About: Description */

@media (min-width: 800px) and (max-width: 991px) {
    #about h2 {
        font-size: 26px;
    }
}

@media (min-width: 800px) {
    #about .row:nth-child(2) h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    #about > .container > .row:nth-child(2) > .col:nth-child(2) > .row > .col:nth-child(1) {
        width: 75%;
        margin: 40px 12.5%;
    }
    
    #about .row:nth-child(2) h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 499px) {
    #about > .container > .row:nth-child(2) > .col:nth-child(2) > .row > .col:nth-child(1) {
        width: 95%;
        margin: 40px 2.5%;
    }
    
    #about .row:nth-child(2) h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

/* About: Hours */

@media (max-width: 799px) {
    #about-hours .row {
        margin: 0 20px;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    #about-hours {
        width: 60% !important;
        margin: 0 20%;
    }
}

@media (min-width: 350px) and (max-width: 499px) {
    #about-hours {
        width: 90% !important;
        margin: 50px 5% 0 5%;
    }
}

@media (max-width: 349px) {
    #about-hours {
        width: 100% !important;
        margin-top: 50px;
    }
    
    #about-hours > div:nth-child(2) {
        font-size: 12px;
    }
}

/* Services */

#services button {
    margin: 0 auto;
    display: block;
    margin-top: 60px !important;
}

#services .ft-cards .card {
    cursor: pointer;
}

@media (min-width: 1200px) {
    #services .ft-cards .card > div {
        padding-bottom: 30px;
    }
    
    #services .ft-item > p {
        height: 75px;
    }
}

@media (max-width: 1199px) {
    #services .ft-cards .card > div {
        padding: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #services .ft-item > p {
        height: 75px;
    }
}

@media (max-width: 768px) {
    #services .ft-cards .ft-item {
        padding: 40px 30px;
    }
    
    #services .ft-cards .ft-item h4 {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    
    #services .ft-cards .ft-item a {
        padding-top: 25px;
    }
}

/* Testimonials */

#testimonials img {
    height: 64px;
    margin: 0 auto;
    display: block;
}

#testimonials h4 {
    margin: 0;
}

#testimonials p {
    margin: 40px 0;
}

#testimonials h4,
#testimonials p {
    text-align: center;
}

@media (min-width: 1261px) {
    #testimonials .ft-cards .card .ft-item p {
        height: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #testimonials .ft-cards .card .ft-item p {
        height: 125px;
    }
}

@media (max-width: 1199px) {
    #testimonials .ft-cards .card > div {
        padding: 15px;
    }
}

/* Map */

.contact-info-wrapper {
    width: 800px;
    max-width: 90%;
}

@media (max-width: 768px) {
    .show-map-link {
        margin-top: 40px;
    }
}