.is-valid {
    border-color: green;
}

.is-invalid {
    border-color: red;
}

#submit_button.disable {
    background: rgb(105, 105, 105);
    cursor: not-allowed;
}

.menu-item {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .show-map-link {
    margin-top: 40px;
  }
}
  
.contact-info-wrapper {
  width: 800px;
  max-width: 90%;
}

@media screen and (min-width: 992px) {
	.p-1{
        display:block;
        text-align:center
    }
  .p-2{
        display:none;
        text-align:center
    }
  .p-3{
        display:none;
        text-align:center
    }
    .p-4{
          display:none;
          text-align:center
      }
    .p-5{
          display:block;
          text-align:center
      }

  }
@media screen and (max-width: 992px) and (min-width: 768px) {

	.p-1{
        display:none;
				text-align:center
    }
  .p-2{
        display:block;
				text-align:left
    }
  .p-3{
        display:block;
        text-align:left
    }
  .p-4{
        display:none;
        text-align:center
    }
  .p-5{
        display:block;
        text-align:center
    }
}
@media screen and (max-width: 768px) and (min-width: 450px) {
  .p-1{
        display:block;
        text-align:center
    }
  .p-2{
        display:none;
        text-align:center
    }
  .p-3{
        display:none;
        text-align:center
    }
  .p-4{
          display:block;
          text-align:center
    }
  .p-5{
          display:none;
          text-align:center
    }
}

@media screen and (max-width: 450px){

  	.p-1{
          display:none;
  				text-align:center
      }
    .p-2{
          display:block;
  				text-align:center
      }
    .p-3{
          display:block;
          text-align:center
      }
  .p-4{
          display:block;
          text-align:center
    }
  .p-5{
          display:none;
          text-align:center
    }
}