/* Jumbotron */

.jumbo-padding {
	padding-left: 75px;
}

@media screen and (max-width: 992px) and (min-width: 600px) {
	.jumbotron-paragraph {
        font-size: 24px;
		width: 50%;
	}

	.jumbo-padding {
		padding-left: 75px;
	}
}

@media screen and (max-width: 600px) {
	.jumbo-padding {
		padding-left: 0px;
	}

	.jumbotron-paragraph, text-align {
        text-align: center;
	}

	.btn-center {
		display: block !important;
		margin: 0 auto;
	}
}

/* About */

#about .row {
    margin: 0;
}

#day-of-week {
    float: left;
}

#day-of-week p {
    text-align: left;
}

#time-hours {
    float: right;
}

#time-hours p {
    text-align: right;
}

#about .row:nth-child(1) h1,
#about .row:nth-child(2) h2 {
    text-align: center;
}

#about-hours, #about h3 {
    color: white;
}

#about > .row:nth-child(1) > h1 {
    margin-bottom: 60px;
}

@media (min-width: 1200px) {
    #about > .row:nth-child(2) > .col:nth-child(1) > .row {
        display: flex;
    }

    #about > .row:nth-child(2) > .col:nth-child(1) > .row > .col {
        width: 50%;
    }

    #about > .row:nth-child(2) > .col:nth-child(1) > .row > .col:nth-child(1) {
        margin-left: 8.11%;
        order: 2;
    }

    #about > .row:nth-child(2) > .col:nth-child(1) > .row > .col:nth-child(2) {
        order: 1;
    }
    
    .about-header-style {
        margin: 5px 50px !important;
    }
    
    .about-text-style {
        margin: 5px 50px 15px 50px !important;
    }
    
    #about > .row:nth-child(2) > .col:nth-child(1) {
        width: 64.167%;
        float: left;
        margin-right: 5%;
    }

    #about > .row:nth-child(2) > .col:nth-child(2) {
        width: 30.833%;
        float: right;
    }
    
    #about img {
        width: 100%;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    #about > .row:nth-child(2) > .col:nth-child(1) > .row {
        display: block;
    }

    #about > .row:nth-child(2) > .col:nth-child(1) > .row > .col {
        width: 100%;
    }
    
    #about-hours .row {
        margin: 0 20px;
    }
    
    #about img {
        width: 80%;
        margin: 0 10%;
    }
    
    #about > .row:nth-child(2) > .col:nth-child(1) {
        width: 55%;
        float: left;
        margin-right: 5%;
    }

    #about > .row:nth-child(2) > .col:nth-child(2) {
        width: 40%;
        float: right;
    }
}

@media (max-width: 799px) {
    #about > .row,
    #about > .row:nth-child(2) > .col:nth-child(1) > .row {
        display: block;
    }

    #about > .row:nth-child(2) > .col,
    #about > .row:nth-child(2) > .col:nth-child(1) > .row > .col:nth-child(1) {
        width: 100%;
    }
    
    #about .row:nth-child(1) h1, .about-header-style {
        padding: 0;
    }
    
    .about-header-style h3 {
        text-align: center;
    }
    
    #about-hours .row {
        margin: 0 20px;
    }
}

/* About: Image */

@media (min-width: 600px) and (max-width: 799px) {
    #about img {
        width: 50%;
        margin: 0 25%;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    #about img {
        width: 75%;
        margin: 0 12.5%;
    }
}

@media (max-width: 399px) {
    #about img {
        width: 100%;
    }
}

/* About: Description */

@media (min-width: 600px) and (max-width: 799px) {
    #about > .row:nth-child(2) > .col:nth-child(1) > .row > .col:nth-child(2) {
        width: 75%;
        margin: 0 12.5%;
    }
}

@media (max-width: 599px) {
    #about > .row:nth-child(2) > .col:nth-child(1) > .row > .col:nth-child(2) {
        width: 100%;
    }
}

/* About: Hours */

@media (min-width: 500px) and (max-width: 799px) {
    #about-hours {
        width: 60% !important;
        margin: 50px 20% 0 20%;
    }
}

@media (min-width: 350px) and (max-width: 499px) {
    #about-hours {
        width: 90% !important;
        margin: 50px 5% 0 5%;
    }
}

@media (max-width: 349px) {
    #about-hours {
        width: 100% !important;
        margin-top: 50px;
    }
    
    #about-hours .about-text-style {
        font-size: 12px;
    }
}

/* ----------------------------------- */

ft-cards .card a,
.ft-cards .card a span {
    transition: 0.3s all;
}

.service-paragraph {
    width: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerimg {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.menu-item {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .show-map-link {
        margin-top: 40px;
    }
}

.contact-info-wrapper {
    width: 800px;
    max-width: 90%;
}

address {
    margin: 0;
}

@media screen and (min-width: 1200px) {
    #services .ft-item > p {
        height: 75px;
    }
    
	.testimonial-responsive {
		width: 33.33%;
	}

	.img-logo-testimonial, .img-logo-testimonial-hg-1 {
		display: block;
		margin: 0 auto 40px auto;
		height: 64px;
	}

    .img-logo-testimonial-hg-2 {
		display: none;
		margin: 0 auto 40px auto;
		height: 64px;
	}

    .name-1 {
        display: none;
	}

    .name-2 {
        display: block;
    }

    .name-1, .name-2, .paragraph-testimonial {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
	.testimonial-responsive {
		width: 50%;
	}

    .row-flex-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
	}

    .img-logo-testimonial, .img-logo-testimonial-hg-1 {
		display: block;
		margin: 0 auto 40px auto;
		height: 64px;
	}

    .img-logo-testimonial-hg-2 {
		display: none;
		margin: 0 auto 40px auto;
		height: 64px;
	}

    .name-1 {
        display: none;
    }

    .name-2 {
        display: block;
    }

    .name-1, .name-2, .paragraph-testimonial {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
	.testimonial-responsive {
		width: 100%;
	}

	.img-logo-testimonial {
		height: 64px;
		margin-bottom: 25px;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
	}

	.img-logo-testimonial-hg-1{
		height: 64px;
		margin-bottom: 25px;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
        display: none;

	}
	.img-logo-testimonial-hg-2 {
        height: 64px;
		margin-bottom: 25px;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);

	}
    .paragraph-testimonial {
        text-align: left;
    }

	.name-2 {
        display: none;
        text-align: center;
    }

    .name-1 {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
	}

	.column-for-600-img {
        float: left;
        width: 30%;
	}

	.column-for-600-text {
        float: right;
		width: 70%;
	}

	.row-for-600:after {
        content: "";
        display: table;
        clear: both;
	}

}

@media screen and (max-width: 460px) {
	.column-for-600-text {
		float: right;
		padding-left: 50px;
		width: 70%;
	}
}

@media screen and (min-width: 992px) {
	.p-1, .p-5 {
        display: block;
        text-align: center;
    }

    .p-2, .p-3, .p-4 {
        display: none;
        text-align: center;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .p-1, .p-4 {
        display: none;
        text-align: center;
    }

    .p-2, .p-3 {
        display: block;
        text-align: left;
    }

    .p-5 {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 768px) and (min-width: 450px) {
    .p-1, .p-4 {
        display: block;
        text-align: center;
    }
    .p-2, .p-3, .p-5 {
        display: none;
        text-align: center;
    }
}

@media screen and (max-width: 450px){
  	.p-1, .p-5 {
        display: none;
        text-align: center;
    }

    .p-2, .p-3, .p-4 {
        display: block;
        text-align: center;
    }
}

/* Hide preloader on Edge */
@supports (-ms-ime-align:auto) {
    .preloader {
		visibility: hidden;
	}
}

/* Hide preloader on IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.preloader {
		visibility: hidden;
	}
}