.alignleft {
	float: left;
}
.alignright {
	float: right;
}
@media screen and (max-width: 992px){
	.about-hours{
	    padding-top: 5px;
	}
}

.about-hours{
   background: rgba(17, 17, 17, 0.93);
   color: white;
   height: 300px;
   width:300px;
	 margin-left: 50px;

}
#textbox{
  height:35px;
}
.service-paragraph{
  width: 50%;
  text-align: center;
  position:
  absolute;left: 50%;
  transform:
  translate(-50%, -50%);
}

.centerimg {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.jumbo-padding{
	padding-left:75px;
}

@media screen and (max-width: 992px) and (min-width: 600px){
	.jumbotron-paragraph{
		font-size: 24px;
		width: 50%;
	}
	.jumbo-padding{
		padding-left:75px;
	}
}

@media screen and (max-width: 600px) {
	.jumbo-padding{
		padding-left:0px;
	}
	.jumbotron-paragraph{
		text-align: center;
	}
	.title-paragraph{
		text-align: center;
	}
	.btn-center{
		display: block !important;
		margin: 0 auto;
	}
}
