#contact-us-btn-break {
    display: none;
}

.menu-item {
    text-align: right;
}

.container > .row > div {
    padding: 15px;
}

.blue-bg {
    background-color: #d8eefe !important;
}

@media (min-width: 1200px) {
    .ft-item p {
        height: 75px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #family-dentistry .container > .row > div,
    #cosmetic-dentistry .container > .row > div,
    #dental-repair .container > .row > div {
        height: 400px;
    }
    
    .ft-item p {
        height: 125px;
    }
}

@media (max-width: 768px) {
    .contact-us-btn {
        width: 200px;
    }

    .contact-us-btn:nth-child(2) {
        margin-bottom: 20px;
    }

    #contact-us-btn-break {
        display: block;
    }
}